page-soundcloud-library {
  ion-card.playlist ion-card-header {
    color: map-get($colors, 2nd_orange);
  }
  ion-col, ion-row, ion-grid {
    padding: 0;
  }
  .scPlaylist img {
    box-shadow: 2px 0px 3px #b6acac;
  }
  .scPlaylistCardHeader{
    padding: 13px 13px 8px 0;
  }
  .scPlaylistCardItem{
    padding-left: 0;
  }
}
