<!--
  Generated template for the PlaylistDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngSwitch]="referrer">
  <ion-navbar color="primary" class="playlist-details" *ngSwitchCase="'spotify'">
      <ion-title>{{ playlist.getName() }}</ion-title>
  </ion-navbar>
  <ion-navbar color="2nd_orange" class="playlist-details" *ngSwitchDefault>
      <ion-title color="light">{{ playlist.getName() }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content [ngSwitch]="referrer">

  <!-- spotify -->
  <ion-list *ngSwitchCase="'spotify'" [style.padding-bottom]="miniPlayerDetails?.playing != null ? '65px':'0'">
    <div class="playlist-spotify-header">
      <img [src]="playlist.getPlaylistImage().large.url">
    </div>
    <ion-item *ngFor="let item of playlist.getSongs()" (click)="item.play(miniPlayerDetails, 'spotify', musicService, playlist, soundcloudService)" (press)="item.pressEvent(actionSheetCtrl, spotifyService, playlist, userAccountService.getSpotifyUser())">
      <h3><b>{{ item.getSongTitle() }}</b></h3>
      <h3>
        <span class="artist" *ngFor="let artist of item.getArtists(); let i = index">
          <span *ngIf="i > 0"> / </span> {{ artist.getName() }}
        </span>
      </h3>
      <h4>{{ item.getAlbumTitle() }}</h4>
    </ion-item>
  </ion-list>

  <!-- soundcloud -->
  <ion-list no-lines *ngSwitchDefault [style.padding-bottom]="miniPlayerDetails?.playing != null ? '65px':'0'">
    <ion-item-sliding #item>
      <ion-item *ngFor="let item of playlist.getSongs()" (click)="startNewPlayer(item)">
        <ion-thumbnail item-left>
          <img [src]="item.getAlbumImage().large">
        </ion-thumbnail>
        <h3><b>{{ item.getSongTitle() }}</b></h3>
        <h3>
          <span class="artist" *ngFor="let artist of item.getArtists(); let i = index">
            <span *ngIf="i > 0"> / </span> {{ artist.getName() }}
          </span>
        </h3>
        <h4>{{ item.getAlbumTitle() }}</h4>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button >
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button color="danger" >
          <ion-icon color="black" name="share-alt"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<streamgull-miniplayer></streamgull-miniplayer>
