page-login-page {
  .login {
    text-align: center;
    background: url("../../assets/img/sg-bg-1280.jpg");
    background-size: cover;

    .login-wrapper {
      padding: 0 2rem;
      max-width: 700px;
      width: 100%;
      margin: 0 auto;

      button {
        box-sizing: border-box;
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;

        &.half {
          width: 100%;
          max-width: 50%;
        }

      }

      ion-buttons {
        margin: 0;
      }

      .btn-left {
        //float: left;
      }

      .btn-right {
        //float: right;
      }

      .color-white {
        color: #fff;
      }

      .error {
        p {
          margin: 0;
          padding: 2rem 0;
          background: #fcb75b;
        }
      }

    }

  }
}
