library {
 *ion-input-placeholder {
    color: red !important;
  }
  *:-moz-placeholder {
    color: red !important;
  }
  *:-ms-input-placeholder { /* IE10+ */
    color: red !important;
  }
  .player {
    padding-top: 2rem;
    background: url("../../assets/img/player-bg.png");
    background-size: cover;
    background-position: top center;
    overflow: visible;
    border-top: none;

    .item-md {
      background-color: transparent;
    }

    * {
      background-color: transparent;
      border-top: none;
    }

  }

  .footer-md {
    &:before {
      display: none;
    }

  }


}
