.toolbar-background {
  /*background-color: #c8dc59; */
}
.toolbar-background-md {
/*    border-color: #b2b2b2;
    background: #5E7189; */
}
.toolbar-title-md{
   /*color: #251d20; */
}
.content-md {
/*    color: #000;
    background-color: #F0F4F3; */
}
.playlist-details{
   background-color: #5E7189;
}
.larger {
    font-size: 22px;
}
