<ion-header>
  <ion-toolbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title class="streamgull-title" [hidden]="hideElement" (click)="toggleSearchAndFocus()">
      Streamgull
    </ion-title>
    <ion-buttons end>
      <button ion-button color="darkGrey" class="larger" (click)="toggleSearchAndFocus()">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
    <div [hidden]="!hideElement">
      <ion-input class="librarySearch" placeholder="Search songs and artists" (input)="getItemsByName($event)"></ion-input>
    </div>
  </ion-toolbar>
  <ion-toolbar no-border-top color="primary">
      <ion-segment [(ngModel)]="playerNav" color="darkGrey">
        <ion-segment-button value="spotify">
          <b>Spotify Library</b>
        </ion-segment-button>

        <ion-segment-button value="search">
          <b>Search</b>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="playerNav">

    <ion-item *ngIf="spotifyUser != null">
      <ion-thumbnail item-left>
        <img [src]="spotifyUser?.images[0]?.url == true ? spotifyUser?.images[0]?.url : 'assets/img/soundcloud-logo.jpg'"/>
      </ion-thumbnail>
      <p>Logged in: {{ spotifyUser?.id }}</p>
    </ion-item>

    <ion-list no-lines *ngSwitchCase="'spotify'" class="card-background-page">

     <ion-card class="playlist"  *ngFor="let item of playlist_items" (click)="openPlaylist(item)" >
       <ion-card-header>
         {{ item.getName() }}
       </ion-card-header>
       <button ion-item>
         <ion-icon name='person' item-left></ion-icon>
         {{ item.getOwnerName() }}
       </button>
       <button ion-item>
         <ion-icon name='play' item-left></ion-icon>
         {{ item.getSongCount() }}
       </button>
     </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'search'">

      <ion-segment [(ngModel)]="searchCategory" padding>
        <ion-segment-button value="tracks" [hidden]="trackItems.length === 0">
          Tracks
        </ion-segment-button>
        <ion-segment-button value="artists" [hidden]="artistItems.length === 0">
          Artists
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="searchCategory">

        <p class="searchPlaceholder" [hidden]="trackItems.length > 0 || artistItems.length > 0" padding-left padding-right>Search results might come here...</p>

        <div *ngSwitchCase="'tracks'">

          <ion-item *ngFor="let item of trackItems" (click)="startNewPlayer(item)">
            <ion-thumbnail item-left>
              <img [src]="item.getAlbumImage().large.url">
            </ion-thumbnail>
            <h3><b>{{ item.getSongTitle() }}</b></h3>
            <h3>
              <span class="artist" *ngFor="let artist of item.getArtists(); let i = index">
                <span *ngIf="i > 0"> / </span> {{ artist.getName() }}
              </span>
            </h3>
            <h4>{{ item.getAlbumTitle() }}</h4>
          </ion-item>
        </div>

        <div *ngSwitchCase="'artists'">
          <ion-item  *ngFor="let artist of artistItems" (click)="artistClickEvent(artist.getId())">
            <ion-thumbnail item-left>
              <img [src]="artist?.getImages()?.large?.url">
            </ion-thumbnail>
            <h3><b>{{ artist.getName() }}</b></h3>
          </ion-item>
          </div>
        </div>

    </ion-list>
  </div>
</ion-content>

<ion-footer [hidden]="!isPlaying">
  <ion-toolbar class="librarySmallPlayer player" color="primary">
    <ion-list class="librarySmallPlayer" no-lines>
      <ion-item (click)='openPagePlayer(playing)' color="primary">
        <h3><b>{{ playing?.getSongTitle() }}</b></h3>
        <h3><span *ngFor="let playing of playing?.getArtists(); let i = index">
          <span *ngIf="i > 0"> / </span> {{ playing?.getName() }}
        </span></h3>

        <ion-buttons end item-right>
          <button ion-button color="white" [hidden]="!pauseButton" (click)="pauseButton = !pauseButton" class="larger" (click)="pausePlayer($event)">
            <ion-icon name="pause"></ion-icon>
          </button>
          <button ion-button color="white" class="larger" [hidden]="pauseButton" (click)="pauseButton = !pauseButton" (click)="startPlayer($event)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
